
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

body {
  background: #000000;
  line-height: 1.4;
  font-family: sans-serif;
}

.vertical-center {
  transform: translateY(50%);
}


.auto-grid {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.wrapper-chores {
  max-width: 65rem;
  margin: 0 auto;
  padding: 0;
}

#chore-list {
  padding: 1rem;
}

#chore-list .row {
  margin: 0px;
  padding: 1.5rem 0rem;
  width: 100%;
  pointer-events: none;
}

#chore-list .col {
  transform: scale(1.0, 1.0)
}


.modal-dialog * {
  font-size: 3rem;
}

.modal-body li {
  list-style-type:none;
}

#modal-user-div {
  justify-content: space-around;
  display: flex;
  padding: 1rem;
  color: white;
}

.user-button {
  font-family: "Courier";
}

.navbar * {
  font-size: 3rem;
}

.navbar button {
  border: none;
}

#nav-users button {
  margin-left: 0.5rem;
}

.navbar-brand td {
  line-height: 0;
  font-size: 0.8rem;
  text-align: right;
  pointer-events: none;
}

.navbar-brand * {
  pointer-events: none;
}

@media (min-width: 100px) {
  .modal-dialog {
    max-width: 90%;
  }
}

[contenteditable="true"] {
  background: #DCDCDC;
}


.gridcell {
  position: relative;
  font-family: "Courier";
  text-align: center;
  font-size: 4rem;
  background: #be2edd;
  color: #ffffff;
  border-radius: 1.5rem;
  user-select: none;
}

.cell-overlay {
  display: grid;
  top: 0px;
  right: 0px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 1.5rem;
  border-style: dashed;
  border-width: 2px;
}

.cell-overlay button {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row-start: 1;
  border: none;
  font-size: 4rem;
  border-radius: 1.5rem!important;
}

.cell-overlay button:hover {
  background: none;
  color: #000000;
  /*opacity: 0.4;*/
}


#edit-state-modal pre {
  font-size: 1rem;
}


.hidden {
  display: none;
}
